.App{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: url("bg.jpg"); */
  background-color:antiquewhite;

}

.heading{
  font-size:40px;
  margin:30px 0;
  color: rgb(97, 68, 27);
  z-index:1;
  text-align: center;
  font-family: "Jaini Purva", system-ui;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 800px){
  .heading{
    margin:15px 0;
    font-size: 40px;
  }
}
